.MainPage{
	display: flex;
	flex-direction: column;
	background: #0f2027; 
	background: linear-gradient(to right,#ffffff, #fffdd4, #b1ffa1);
	display: flex;
	align-items: center;
	color: #fff;
	height: 100vh;
	overflow-y: auto;
}
.card{
	display:flex;
	flex-direction: column;
	border: 1px solid black;
}
.card__p{
	color: black;
}